@import 'tailwindcss';

@theme inline {
  --font-pretendard: 'Pretendard', sans-serif;

  --text-heading1: 24px;
  --text-heading1-font-weight: 600;
  --text-heading1-line-height: 38.4px;
  --text-heading1-font-family: var(--font-pretendard);

  --text-heading2: 48px;
  --text-heading2-font-weight: 700;
  --text-heading2-line-height: 67.2px;
  --text-heading2-font-family: var(--font-pretendard);

  --text-title1: 20px;
  --text-title1-font-weight: 700;
  --text-title1-line-height: 32px;
  --text-title1-font-family: var(--font-pretendard);

  --text-title2: 18px;
  --text-title2-font-weight: 700;
  --text-title2-line-height: 25.2px;
  --text-title2-font-family: var(--font-pretendard);

  --text-title3: 16px;
  --text-title3-font-weight: 700;
  --text-title3-line-height: 22.4px;
  --text-title3-font-family: var(--font-pretendard);

  --text-title4: 16px;
  --text-title4-font-weight: 800;
  --text-title4-line-height: 22.4px;
  --text-title4-font-family: var(--font-pretendard);

  --text-body1: 18px;
  --text-body1-font-weight: 500;
  --text-body1-line-height: 25.2px;
  --text-body1-font-family: var(--font-pretendard);

  --text-body2: 16px;
  --text-body2-font-weight: 400;
  --text-body2-line-height: 22.4px;
  --text-body2-font-family: var(--font-pretendard);

  --text-body3: 14px;
  --text-body3-font-weight: 700;
  --text-body3-line-height: 19.6px;
  --text-body3-font-family: var(--font-pretendard);

  --text-body4: 14px;
  --text-body4-font-weight: 300;
  --text-body4-line-height: 19.6px;
  --text-body4-font-family: var(--font-pretendard);

  --text-body5: 14px;
  --text-body5-font-weight: 400;
  --text-body5-line-height: 22.4px;
  --text-body5-font-family: var(--font-pretendard);

  --text-caption1: 14px;
  --text-caption1-font-weight: 700;
  --text-caption1-line-height: 16.8px;
  --text-caption1-font-family: var(--font-pretendard);

  --text-caption2: 12px;
  --text-caption2-font-weight: 300;
  --text-caption2-line-height: 14.4px;
  --text-caption2-font-family: var(--font-pretendard);

  --text-caption2: 12px;
  --text-caption2-font-weight: 300;
  --text-caption2-line-height: 14.4px;
  --text-caption2-font-family: var(--font-pretendard);

  --text-caption3: 10px;
  --text-caption3-font-weight: 400;
  --text-caption3-line-height: 12px;
  --text-caption3-font-family: var(--font-pretendard);
}
